*{
    padding: 0px;
    margin: 0px;
}
.header__container{
    background-color: #1a1a1a;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 70px;
}
.logo__container{
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 230px;
}
.logo__container div{
    margin-right: 3px;
}
.logo__container img{
    width: 80%;
    padding: 10px 5px 5px 5px;
    margin-left: 15px;
    vertical-align: middle;
}
.delivery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;
}
.delivery p{
    font-size: 10px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    flex: 1;
}
.search select, .search input{
    padding: 10px;
    font-weight: bold;
    outline: 1px solid white;
}
.search select{
    border: none;
}
.search input{
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
}
.search svg{
    padding: 7px;
    background: #febd69;
    color: #1a1a1a;
}
.search svg:hover{
    background-color: #d49644;
}
.search:focus-within{
    border: 2px solid rgb(235, 161, 173);
}
.order__container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 10px;
}
.order__container a{
    text-decoration: none;
    color: white;
}
.order__container a:not(:first-child){
    padding: 3px;
}
.order__container p{
    font-size: 10px;
}
.language{
    width: 70px;
    display: flex;
    padding: 10px;
}
.language select{
    background-color: #1a1a1a;
    border: none;
    color: white;
}
.language img{
    width: 40%;
}
.cart{
    position: relative;
    margin-right: 3px;
}
.cart span{
    position: absolute;
    font-weight: bold;
    top: 1px;
    font-size: 20px;
    background-color: #1a1a1a;
    left: 18px;
    color: orange;
}
.lower__container{
    background-color: #232f3e;
    color: white;
}
.lower__container ul{
    display: flex;
    list-style: none;
    gap: 5px;
}
.lower__container ul li{
    padding: 8px;
    margin: 1px 0px;
}
.lower__container ul li:first-child{
    display: flex;
    gap: 2px;
    align-items: center;
}
.order__container a, .language, .delivery, .logo__container img, .lower__container ul li{
    border: 1px solid transparent;
}
.order__container a:hover, .language:hover, .delivery:hover, .logo__container img:hover, .lower__container ul li:hover{
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    .header__container{
        display: flex;
        flex-direction: column !important;
        height: auto;
    }
    .lower__container ul li:not(:first-child){
        display: none;
    }
    .language{
        display: none;
    }
}